appdirs==1.4.4
attrs==20.3.0
cffi==1.14.5
cfgv==3.2.0
coverage==5.3.1
cryptography==42.0.8
distlib==0.3.1
filelock==3.0.12
flake8==3.8.4
identify==2.1.0
iniconfig==1.1.1
mccabe==0.6.1
nodeenv==1.5.0
packaging==20.8
pluggy==0.13.1
pre-commit==2.10.1
py==1.10.0
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
pyparsing==2.4.7
pytest==6.2.2
pytest-cov==2.11.1
PyYAML==5.4.1
six==1.15.0
toml==0.10.2
virtualenv==20.4.2
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
