appdirs==1.4.4
attrs==25.4.0
cffi==2.0.0
cfgv==3.5.0
coverage==7.13.4
cryptography==46.0.5
distlib==0.4.0
filelock==3.20.3
flake8==7.3.0
identify==2.6.16
iniconfig==2.3.0
mccabe==0.7.0
nodeenv==1.10.0
packaging==26.0
pluggy==1.6.0
pre-commit==4.5.1
py==1.11.0
pycodestyle==2.14.0
pycparser==3.0
pyflakes==3.4.0
pyparsing==3.3.2
pytest==9.0.2
pytest-cov==7.0.0
PyYAML==6.0.3
six==1.17.0
toml==0.10.2
virtualenv==20.36.1
zipp==3.23.0
fastapi
uvicorn[standard]
httpx
