version: 2
jobs:
  build:
    docker:
      - image: cimg/python:3.12

    working_directory: ~/repo

    steps:
      # Step 1: obtain repo from GitHub
      - checkout
      # Step 2: create virtual env and install dependencies
      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
      # Step 3: run tests (unit + API)
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            mkdir test-results
            pytest --cov=calculator --junitxml=test-results/junit.xml
      - store_test_results:
          path: test-results
      # Step 4: build Docker image
      - setup_remote_docker
      - run:
          name: build docker image
          command: |
            docker build -t calculator-api .
