name: Docker Build

on: [push, pull_request]

jobs:
  docker-build:
    runs-on: ubuntu-latest
    name: Build Docker image
    steps:
      - uses: actions/checkout@v4
      - name: Build Docker image
        run: docker build -t calculator-api .
